SECRET_KEY_BASE=
FORCE_SSL=false
RAILS_LOG_LEVEL=info
RAILS_MAX_THREADS=3
RAILS_MIN_THREADS=3
WEB_CONCURRENCY=1
PORT=3000
KASI_HOLIDAY_API_KEY=

SUKSUK_PRAISE_DATABASE_HOST=db
SUKSUK_PRAISE_DATABASE_PORT=5432
SUKSUK_PRAISE_DATABASE_NAME=suksuk_praise_production
SUKSUK_PRAISE_DATABASE_USER=suksuk_praise
SUKSUK_PRAISE_DATABASE_PASSWORD=
