<%= turbo_stream.replace "issued_coupons" do %>
  <div id="issued_coupons">
    <%= render partial: "user_coupons/issued_list",
        locals: { coupons: @classroom.user_coupons.order(created_at: :desc).limit(5) } %>
  </div>
<% end %>

<%= turbo_stream.update "flash" do %>
  <%= render "layouts/alerts" %>
<% end %>