<% if @issued_coupons&.any? %>
  <ul class="space-y-1">
    <% @issued_coupons.each do |c| %>
      <li class="text-sm">
        <span class="font-semibold"><%= c.user.name %></span>
        → <%= c.coupon_template.title %>
        <span class="text-gray-500">(<%= l c.created_at, format: :short %>)</span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-gray-500 text-sm"><%= t("empty.issued_coupons") %></p>
<% end %>
