<h1 class="text-xl font-bold mb-4"><%= @user.name %>의 쿠폰</h1>

<%= turbo_frame_tag dom_id(@user, :coupons) do %>
  <%= render partial: "user_coupons/list",
   locals: { coupons: @coupons, user: @user } %>
<% end %>
