<%= render "user_messages/thread",
      threads: threads,
      reply_message: reply_message,
      user: user,
      form_url: form_url,
      active_reply_thread_id: active_reply_thread_id %>

<div class="mt-4 border-t border-slate-100 pt-4">
  <%= render "user_messages/message_form",
        message: message,
        form_url: form_url,
        sender: current_user %>
</div>
