<%= turbo_stream.replace "students_list_#{@classroom.id}" do %>
  <div id="students_grid_<%= @classroom.id %>" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <%= render partial: "users/user", collection: @students, as: :user, locals: { classroom: @classroom } %>
  </div>
<% end %>

<%= turbo_stream.update :modal do %>
<% end %>
