<%= turbo_stream.update :modal, "" %>
<%= turbo_stream.replace "flash" do %>
  <div id="flash"
       class="fixed inset-x-0 top-14 z-50 flex flex-col items-center space-y-2 px-4
              pointer-events-none transition-all duration-300">
    <%= render "layouts/alerts" %>
  </div>
<% end %>
